.post {
  position: relative;
  &__edit-button {
    margin-top: rhythm(0.5);
    @include breakpoint(1000px) {
      margin-top: 0;
      position: absolute;
      right: -150px;
    }
    .icon-flat-pencil {
      font-size: 90%;
      margin-right: rhythm(1/4);
    }
  }
  &__date {
    @include adjust-font-size-to(16px);
    color: gray(70%);
    display: block;
    margin-top: rhythm(2);
    margin-bottom: rhythm(-1/8);
  }
  &__title {
    margin-top: 0;
  }
}
