extends layout

block body
  div#menu-bar
    #menu-wrapper
      #menu-container
        a(class="home-link", href="/") Home
        a(href="/search", class="search") Search
        a(href="/drafts", class="logout") Drafts
  div#wrapper
    div#container
    div#posts
