extends layout

block body
  div#menu-bar
    #menu-wrapper
      #menu-container
        a(class="home-link", href="/") Home
        a(href="/search", class="search") Search
        span(class="dropdown-menu icon-cog")
  div.offline-status
  div#wrapper
    div#container
    div#posts
