.headroom {
  @include transition(transform 200ms linear);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: gray(10%);
  height: rhythm(1.5);
  z-index: 10;
  &--pinned {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-125%);
  }
  &__links {
    @include container(30em);
    padding: 0 rhythm(0.75);
  }
  &__link {
    color: gray(90%);
    display: inline-block;
    font-family: $base-font-family;
    font-weight: bold;
    padding: rhythm(0.25) rhythm(0.5);
    &:hover, &:active {
      background: gray(25%);
      color: gray(90%);
      text-decoration: none;
    }
  }
  &__icon {
    margin-right: rhythm(1/4);
  }
}

.main-section {
  @include container(30em);
  margin-top: rhythm(3);
  margin-bottom: rhythm(3);
  padding: 0 rhythm(.75);
}
