.post {
  position: relative;
  &__edit-button {
    margin-top: rhythm(0.5);
    @include breakpoint(1000px) {
      position: absolute;
      right: -150px;
    }
    .icon-flat-pencil {
      font-size: 90%;
      margin-right: rhythm(1/8);
    }
  }
  &__title {
    margin-top: rhythm(1.5);
  }
}
