.react-markdown-textarea {
  margin-top: rhythm(1);
  &__textarea-wrapper {
    margin-top: rhythm(0.5);
  }
  &__textarea {
    border: 1px solid gray(85%);
    padding: rhythm(1/4);
    width: 100%;
  }
  &__preview {
    padding: rhythm(1/4);
    > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__save-button {
    float: left;
    margin-top: rhythm(1);
  }
  &__spinner {
    float: left;
    height: rhythm(1);
    width: rhythm(1);
    top: rhythm(1.75);
  }
  &__nav {
    @include adjust-font-size-to(15px);
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: rhythm(-0.25);
    &__item {
      @include border-radius(rhythm(0.2));
      border: 1px solid;
      border-color: rgba(0,0,0,0);
      color: gray(20%);
      margin-left: rhythm(0.25);
      margin-bottom: 0;
      padding: rhythm(0.25) rhythm(0.75);
      position: relative;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background: gray(85%);
      }
      &--active {
        background: gray(99%);
        border: 1px solid;
        border-color: gray(85%);
        &:hover {
          background: gray(99%);
        }
      }
    }
  }
}
