.search {
  .errors {
    margin-bottom: rhythm(1.5);
  }
  &__input {
    width: 40%;
    @include breakpoint(500px) {
      width: 60%;
    }
  }
  &__button {
    margin-left: rhythm(0.25);
    // Why is this needed?
    position: relative;
    top: -1px;

    .icon-search {
      margin-right: rhythm(1/4);
      font-size: 90%;
    }
  }
  &__spinner {
    display: inline-block;
    height: rhythm(7/8);
    left: 0;
    margin-left: rhythm(1);
    top: 18px;
    width: rhythm(7/8);
  }
  &__meta {
    color: gray(70%);
  }
  &__histogram {
    @include adjust-font-size-to(10px);
    .bar rect {
      fill: #FFB055;
      shape-rendering: crispEdges;
    }
    .bar text {
      fill: gray(100%);
    }
    .axis path, .axis line {
      fill: none;
      stroke: gray(15%);
      shape-rendering: crispEdges;
    }
    .axis text {
      color: gray(15%);
    }
  }
  &__result {
    &__title {
    }
    &__date {
      @include adjust-font-size-to(14px);
      color: gray(70%);
    }
  }
}
