/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base/base";
@import "base/blueprint";
@import "base/typography";
@import "base/layout";
@import "modules/kalendae";
@import "../../widgets/expanding_textarea/expanding_textarea";

// Force scroll-bar.
html {
  overflow-y: scroll;
}

#menu-bar {
  @include box-shadow(0 3px 7px $grey40);
  @include trailer(2);

  background: $grey10;
  height: 3em;
  width: 100%;
  z-index: 100;

  // Fixed elements stutter on some mobile browsers.
  @media only screen and (min-width: 700px) {
    position: fixed;
    top: 0;
  }

  #menu-container {
    @include adjust-font-size-to(18px, 2);

    color: $grey90;
    a {
      color: $grey90;
    }
    .logout {
      @media only screen and (max-width: 450px) {
        display: none;
      }

      float: right;
    }
    .drafts {
      margin-left: 10%;
      color: $grey60;
      cursor: pointer;
      position: relative;
      display: inline-block;
      height: 48px;
      padding: 0 20px;
      &.active {
        color: $grey90;
        .arrow {
          display: inline;
        }
      }
      &.dropdown-active {
        background: $grey20;
        .dropdown {
          display: block;
        }
      }
      .arrow {
        display: none;
        color: $grey80;
        font-size: 16px;
        padding-left: 2px;
      }
      .dropdown {
        @include adjust-font-size-to(13px, 1, 18px);
        @include no-bullets();
        @include box-shadow(0 3px 7px $grey40);
        @include leading-border(2px, 0.5);
        @include padding-trailer(0.5);

        display: none;
        z-index: 100;
        border-color: $grey60;
        width: 300px;
        position: absolute;
        left: -30px;
        padding-left: 0;
        background: $grey20;
        margin: 0;
        li {
          color: $grey60;
          padding: rhythm(0.5) rhythm(1);
          &:hover {
            background: $grey60;
            color: $grey10;
          }
        }
        em {
          @include adjust-font-size-to(11px, 1, 13px);
        }
      }
    }
    .search {
      margin-left: 10%;
    }
  }
}

// Main content wrapper.
#wrapper {
  position: relative;
  @media only screen and (min-width: 700px) {
    @include leader(4);
  }
}

#posts {
  position: relative;

  // Can't get button at top of the page to behave.
  @media only screen and (max-width: 1050px) {
    h1:first-child {
      margin-top: 47px;
    }
  }
  .throbber.global-loading {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.post {
  @include trailer(4);

  position: relative;
  p {
    @include force-wrap();
  }
  .post-date {
    display: block;
    margin-bottom: rhythm(-1, 11px);
  }
  img {
    max-width: 100%;
  }
}

input, textarea {
  @include rhythm-borders(1px, 0.5);

  border-color: $grey80;
  color: $grey20;
}

.expanding-textarea textarea {
  @include box-shadow(none);

  border: none;
  padding: 0;
}

#post-edit {
  margin-bottom: 300px;

  #last-saved {
    float: right;
    font-size: 65%;
    font-weight: normal;
  }
  .title {
    @include trailer(0.5);

    width: 100%;
    .expandingText textarea {
      @include adjust-font-size-to(36px);
      @extend %title-font;

      border: 0;
      color: #222;
      padding: 0;
    }
  }
  .body {
    @include leader(1);
    @include trailer(0.5);

    width: 100%;
  }
  .less-important-button {
    @include my-button($grey80);

    font-weight: normal;
    margin-left: 10px;
  }
  .delete {
    @include my-button($grey80);
    float: right;
  }
  .date-edit {
    @include trailer(0.5);

    display: none;
  }
  .date {
    @include trailer(0.25);

    display: block;
  }
  .show-date-edit {
    display: none;
    font-weight: normal;
    cursor: pointer;
    color: $grey60;
    text-decoration: underline;
  }
}

input[type="submit"], button, .button {
  @include my-button();
  text-decoration: none;
  color: white;
  font-weight: normal;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#loading-posts {
  @include rhythm(0, 0.25, 0.25, 2);
  @include border-radius(5px);
  @include adjust-font-size-to(21px);

  cursor: pointer;
  color: #5F6B61;
  text-align: center;
}

#login {
  label {
    width: 90px;
    display: inline-block;
  }
}

.post-action {
  @media only screen and (min-width: 1050px) {
    position: absolute;
    top: 10px;
    right: -150px;
  }
}

#search-page {
  .search-meta {
    @include adjust-font-size-to(14px);

    color: $grey60;
    clear: both;
  }
  em {
    font-style: normal;
    font-weight: bold;
  }
  h3 {
    @include adjust-font-size-to(18px, 1);
    @include trailer(0);
    @include leader(0);

    font-weight: normal;
    a {
      font-weight: normal;
    }
  }
  .created {
    @include adjust-font-size-to(13px, 1, 18px);

    color: $grey60;
  }
  p {
    @include adjust-font-size-to(14px);
  }
  .search-result {
    @include trailer(1);
  }
  input {
    width: 50%;
    margin-right: 2%;
  }
  button {
    @include my-button($grey80);
  }
  .loading {
    display: none;
    margin-left: 1%;
  }
}

.error {
  @include rhythm-borders(1px, 0.5);
  @include trailer(1);

  background: #F8DCD9;
  border-color: #ED1C00;
  color: #DD2020;
  display: none;
  font-weight: bold;
}

// Remove tap hightlight on webkit mobile browsers.
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.throbber {
  display: none;
  position: relative;
  margin-left: rhythm(0.5);
  position: relative;
  top: 4px;
}

.throbber div {
  @include animation-support(animation, fade 1s linear infinite);
  @include border-radius(50px);
  @include box-shadow(0 0 3px rgba(0,0,0,0.2));

  width: 12%;
  height: 26%;
  background: grey(50);
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
}

// light throbber for dark backgrounds
.throbber.light div {
  background: grey(95);
}

.throbber.show {
  display: inline-block;
}

.throbber.button-throbber {
  height: 24px;
  width: 24px;
  position: relative;
  top: 8px;
}

.throbber div.bar1 {@include transform(rotate(0deg) translate(0, -142%)); @include animation-support(animation-delay, 0s);}
.throbber div.bar2 {@include transform(rotate(30deg) translate(0, -142%)); @include animation-support(animation-delay, -0.9167s);}
.throbber div.bar3 {@include transform(rotate(60deg) translate(0, -142%)); @include animation-support(animation-delay, -0.833s);}
.throbber div.bar4 {@include transform(rotate(90deg) translate(0, -142%)); @include animation-support(animation-delay, -0.75s);}
.throbber div.bar5 {@include transform(rotate(120deg) translate(0, -142%)); @include animation-support(animation-delay, -0.667s);}
.throbber div.bar6 {@include transform(rotate(150deg) translate(0, -142%)); @include animation-support(animation-delay, -0.5833s);}
.throbber div.bar7 {@include transform(rotate(180deg) translate(0, -142%)); @include animation-support(animation-delay, -0.5s);}
.throbber div.bar8 {@include transform(rotate(210deg) translate(0, -142%)); @include animation-support(animation-delay, -0.41667s);}
.throbber div.bar9 {@include transform(rotate(240deg) translate(0, -142%)); @include animation-support(animation-delay, -0.333s);}
.throbber div.bar10 {@include transform(rotate(270deg) translate(0, -142%)); @include animation-support(animation-delay, -0.25s);}
.throbber div.bar11 {@include transform(rotate(300deg) translate(0, -142%)); @include animation-support(animation-delay, -0.1667s);}
.throbber div.bar12 {@include transform(rotate(330deg) translate(0, -142%)); @include animation-support(animation-delay, -0.0833s);}

@include keyframes(fade) {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
.alert-message {
  background: #EBFFE7;
  border: 3px solid #27940B;
  left: rhythm(3);
  right: rhythm(3);
  top: rhythm(3);

  padding: rhythm(1);
  position: absolute;
}
