@import "susy";

// Suzy defaults
$total-cols: 12;
$col-width: 3em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@media only screen and (min-width: 751px) {
  body {
    @include container;
    #container {
      @include full;
    }
  }
}

$total-cols: 12;
$col-width: 3em;
$gutter-width: 1em;
$side-gutter-width: 3em;
@media only screen and (max-width: 750px) {
  body {
    @include container;
    #container {
      @include full;
      @include alpha;
    }
  }
}
