@import "susy";

$base-font-size: 14px;

// Box-sizing fix + tell Susy to use border-box
@include border-box-sizing;

// Suzy defaults
$total-columns: 7;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

#wrapper, #menu-wrapper {
  @include container;
}
