@import "normalize";
@import "blueprint/typography";
@import "compass/typography";

// Typography defaults
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
@include establish-baseline();

%title-font {
  font-family: 'Open Sans', “Helvetica Neue”, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

html.no-touch * {
  text-rendering: optimizeLegibility;
}

body {
  color: grey(10);
  font-family: 'Open Sans', “Helvetica Neue”, Arial, Helvetica, sans-serif;
}

#post-edit .title {
  @extend %title-font;
}

p, pre, blockquote {
  @include leader(1);
  @include trailer(1);
}

p, #post-edit .expanding-textarea textarea, ul, ol, li, pre {
  color: grey(30);
  font-family: Georgia, Times, “Times New Roman”, serif;
}

a {
  @include hover-link();
  font-weight: bold;
}

h1,h2,h3,h4,h5 {
  font-weight: 800;

  a {
    color: grey(10);
    &:hover {
      color: grey(10);
    }
  }
}

small {
  @include adjust-font-size-to(11px, 1);
}

// For reference, the following is the traditional typographic hierarchy.
// 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72
// Ref. http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography-part-4

// If you'd like to change the size of headers, move all of the following either
// up or down the hierarchy.
h1 {
  @include adjust-font-size-to(36px, 2);
  @include leader(2, 36px);
  @include trailer(2, 36px);
}
h2 {
  @include adjust-font-size-to(24px, 2);
  @include leader(1, 24px);
  @include trailer(1, 24px);
}
h3 {
  @include adjust-font-size-to(21px, 1);
  @include leader(1, 21px);
  @include trailer(1, 21px);
}
h4 {
  @include adjust-font-size-to(18px, 1);
  @include leader(1, 18px);
  @include trailer(1, 18px);
}
h5 {
  @include adjust-font-size-to(16px, 1);
  @include leader(1, 16px);
  @include trailer(1, 16px);
}
h6 {
  @include adjust-font-size-to(14px, 1);
}

dl, ul, ol {
  margin: rhythm(1) 0;
  padding: 0 0 0 rhythm(1);
}

// Style placeholders in inputs/textareas.
::-webkit-input-placeholder {
  color: $grey30;
}
:-moz-placeholder {
  color: $grey30;
}
:-ms-input-placeholder {
  color: $grey30;
}

hr {
  @include leader(1);
  @include trailer(1);

  background: grey(90);
  border: none;
  clear: both;
  float: none;
  height: 1px;
  width: 100%;
}
